body {
  margin: auto;
}

.container {
  margin: 0 0 10px;
  height: 800px;
  width: 100%;
  border: 2px solid #696969;
  overflow: hidden;
  padding: 15px;
}

.topbar{
  width: 940px;
  padding: 15px;
  border: 1px solid;
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
}

.tweet_feed{
  max-height: 350px;
  overflow: auto;
  border: 1px solid;
}

.post_tweet{
  border: 1px solid;
  padding: 30px;
}

.navbar .btn, .navbar .btn-group {
  margin-top: 28px !important;
}

